<!DOCTYPE html>
<html>

<body>
<h2 style="text-align: center;">SAMSUNG TELEVISION</h2>

<div class="row">
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlwaLB2n4hXfHNQHlVXE2qgdy33fvnlUt6JnTKNHfGHy7k6KQOJatjCZkzhw&usqp=CAc" style="width:55%"><div style="margin-left: 30px">
    <h5>Samsung 80cm (32 inch) HD Ready LED TV(32J4003)</h5>
    <a href="/charges/new" class="f"><h2>BUY</h2></a>
  </div>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd5ifGIYvIDr6gjsXPqdmwighMlRNt3cx7bvZ4VxbFOTYnLMpsvkZ_nJuZ3Uki-KYaMkx5WUBI&usqp=CAc" style="width:50%"><div style="margin-left: 30px">
    <h5>Samsung 80cm (32 Inches) HD Ready LED TV UA32T4010ARXXL(Black)</h5>
    <a href="/charges/new" class="f"><h2>BUY</h2></a>
  </div>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_esY0QJRtHSiIKcFKkLV9RFZkTEpFf-hk4bEJixXreoXf2EvJrKKd70dYxg&usqp=CAc"  style="width:50%"><div style="margin-left: 30px">
    <h5>Samsung 125cm (50 inch) Ultra HD (4K)LED Smart TV(UA50TUE60AKXXL)</h5>
    <a href="/charges/new" class="f"><h2>BUY</h2></a></div>
  </div>

  </div>

  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-P7vbYycxLb14-LsAf2mfvlFWYezWGOG0d9tSXAqzID-wyJq-EYNUUgRJ4ylFHUnHJYf0Uw&usqp=CAc" style="width:50%"><div style="margin-left: 30px">
    <h5>Samsung 80cm (32 inches) Wondertainment Series HD Ready LED TV</h5>
    <a href="/charges/new" class="f"><h2>BUY</h2></a></div>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROwL7t6gCurt-3KbfhZIqQCjOZ5CcCyuYMwahJJhn3Hj9_PfMysyZKoAAuBSDr-wQdOlG9Tg&usqp=CAc" style="width:50%"><div style="margin-left: 30px">
    <h5>Samsung 108cm (43 inch) Full HD LED Smart TV, 5 Series43T5350</h5>
    <a href="/charges/new" class="f"><h2>BUY</h2></a></div>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1k9tOLqw6EqB_VT0TREvPoXAeGtNRsHUPkUyCnD3wnXCl0gYjOiz4aPgWM0atI_Q2kHPzcJ0&usqp=CAc" style="width:50%"><div style="margin-left: 30px">
    <h5>Samsung 127cm (50 inch) Ultra HD (4K) LED Smart TV, 7 Series50TU7200</h5>
    <a href="/charges/new" class="f"><h2>BUY</h2></a></div>
  </div>

</body>
</html>
