<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <div class='stcker'>
	

    <div style="text-align: center">
    <label class="amount">
      <span>Amount:</span>
    </label>

  </article>
<div style="text-align: center">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A years subscription" data-amount="1000" data-locale="auto"></script>
</div>
</div>

<% end %>
